AddDefaultCharset utf-8
AddCharset utf-8 *
<IfModule mod_charset.c>
    CharsetSourceEnc utf-8
    CharsetDefault utf-8
</IfModule>

Options +SymLinksIfOwnerMatch

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.salontetatet.com.ua$ [NC]
RewriteRule ^(.*)$ http://salontetatet.com.ua/$1 [R=301,L]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.html\ HTTP/
RewriteRule ^index\.html$ http://salontetatet.com.ua/ [R=301,L]

ErrorDocument 404 http://salontetatet.com.ua/404.html
ErrorDocument 502 http://salontetatet.com.ua/502.html

Options -Indexes


